@using Blog.Enum
@model Blog.Models.BlogPost

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BlogPost</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlogItemId" class="control-label"></label>
                <select asp-for="BlogItemId" class ="form-control" asp-items="ViewBag.BlogItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <input asp-for="Abstract" class="form-control" />
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPostState" class="control-label"></label>
                <select asp-for="BlogPostState" class="form-control" asp-items="@Html.GetEnumSelectList<BlogPostState>()"></select>
                <span asp-validation-for="BlogPostState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Tags</label>
                <select class="form-select" id="TagIds" name="TagIds" asp-items="@ViewBag.TagIds" multiple></select>
            </div>
            <div>
                <button type="button" class="btn btn-sm btn-warning w-50 fw-bold" data-bs-toggle="modal" data-bs-target="#addNewTag">Add New Tag</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--Modals-->
<div class="modal fade" id="addNewTag" tabindex="-1" aria-labelledby="addNewTagLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewTagLabel">Add New Tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
           
                <form asp-action="Create" asp-controller="Tags">
                    <div class="form-group m-2">
                        <label class="form-label" for="text">Text</label>
                        <input class="form-control" name="Text" id="Text"/>
                    </div>
                    <div class="form-group m-2">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" name="Description" id="Description"></textarea>
                    </div>
                    <div class="form-group m-2">
                        <button class="btn-primary">Add Tag</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>

    <script>
    ClassicEditor
        .create( document.querySelector( '#Body' ) )
        .catch( error => {
            console.error( error );
        } );
    </script>

}
